[submodule "unittests/CATCH"]
	path = unittests/CATCH
	url = https://github.com/philsquared/Catch.git
[submodule "triplegit/boost"]
	path = triplegit/boost
	url = git://github.com/ryppl/boost-svn.git
[submodule "NiallsCPP11Utilities"]
	path = NiallsCPP11Utilities
	url = git@github.com:ned14/NiallsCPP11Utilities.git
