* text=auto !eol
*.gitattributes text

# Scriptish formats
*.bat        text svneol=native#text/plain
*.bsh        text svneol=native#text/x-beanshell
*.cgi        text svneol=native#text/plain
*.cmd        text svneol=native#text/plain
*.js         text svneol=native#text/javascript
*.php        text svneol=native#text/x-php
*.pl         text svneol=native#text/x-perl
*.pm         text svneol=native#text/x-perl
*.py         text svneol=native#text/x-python
*.sh         eol=lf svneol=LF#text/x-sh
configure    eol=lf svneol=LF#text/x-sh

# Image formats
*.bmp        svneol=unset#image/bmp
*.gif        svneol=unset#image/gif
*.ico        svneol=unset#image/ico
*.jpeg       svneol=unset#image/jpeg
*.jpg        svneol=unset#image/jpeg
*.png        svneol=unset#image/png
*.tif        svneol=unset#image/tiff
*.tiff       svneol=unset#image/tiff
*.svg        svneol=native#image/svg%2Bxml

# Data formats
*.pdf        svneol=unset#application/pdf
*.avi        svneol=unset#video/avi
*.doc        svneol=unset#application/msword
*.dsp        svneol=crlf#text/plain
*.dsw        svneol=crlf#text/plain
*.eps        svneol=unset#application/postscript
*.gz         svneol=unset#application/gzip
*.mov        svneol=unset#video/quicktime
*.mp3        svneol=unset#audio/mpeg
*.ppt        svneol=unset#application/vnd.ms-powerpoint
*.ps         svneol=unset#application/postscript
*.psd        svneol=unset#application/photoshop
*.rdf        svneol=unset#text/rdf
*.rss        svneol=unset#text/xml
*.rtf        svneol=unset#text/rtf
*.sln        text svneol=native#text/plain
*.swf        svneol=unset#application/x-shockwave-flash
*.tgz        svneol=unset#application/gzip
*.vcproj     text svneol=native#text/xml
*.vcxproj    text svneol=native#text/xml
*.vsprops    text svneol=native#text/xml
*.wav        svneol=unset#audio/wav
*.xls        svneol=unset#application/vnd.ms-excel
*.zip        svneol=unset#application/zip

# Text formats
.htaccess    text svneol=native#text/plain
*.bbk        text svneol=native#text/xml
*.cmake      text svneol=native#text/plain
*.css        text svneol=native#text/css
*.dtd        text svneol=native#text/xml
*.htm        text svneol=native#text/html
*.html       text svneol=native#text/html
*.ini        text svneol=native#text/plain
*.log        text svneol=native#text/plain
*.mak        text svneol=native#text/plain
*.qbk        text svneol=native#text/plain
*.rst        text svneol=native#text/plain
*.sql        text svneol=native#text/x-sql
*.txt        text svneol=native#text/plain
*.xhtml      text svneol=native#text/xhtml%2Bxml
*.xml        text svneol=native#text/xml
*.xsd        text svneol=native#text/xml
*.xsl        text svneol=native#text/xml
*.xslt       text svneol=native#text/xml
*.xul        text svneol=native#text/xul
*.yml        text svneol=native#text/plain
boost-no-inspect text svneol=native#text/plain
CHANGES      text svneol=native#text/plain
COPYING      text svneol=native#text/plain
INSTALL      text svneol=native#text/plain
Jamfile      text svneol=native#text/plain
Jamroot      text svneol=native#text/plain
Jamfile.v2   text svneol=native#text/plain
Jamrules     text svneol=native#text/plain
Makefile*    text svneol=native#text/plain
README       text svneol=native#text/plain
TODO         text svneol=native#text/plain

# Code formats
*.c          text svneol=native#text/plain
*.cpp        text svneol=native#text/plain
*.h          text svneol=native#text/plain
*.hpp        text svneol=native#text/plain
*.ipp        text svneol=native#text/plain
*.tpp        text svneol=native#text/plain
*.jam        text svneol=native#text/plain
*.java       text svneol=native#text/plain
