[submodule "doc/html"]
	path = doc/html
	url = https://github.com/ned14/llfio.git
	branch = gh-pages
	fetchRecurseSubmodules = true
	ignore = none
#	shallow = true
[submodule "include/llfio/ntkernel-error-category"]
	path = include/llfio/ntkernel-error-category
	url = https://github.com/ned14/ntkernel-error-category.git
	branch = master
	fetchRecurseSubmodules = true
	ignore = untracked
