name: Programs

on:
  push:
    branches:
    - develop
    - master
  pull_request:
  schedule:
  - cron: '0 0 1 * *'

jobs:
  programs:
    name: "Programs"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-latest, windows-2019]
    env:
      NAME: Programs-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
          
    steps:
    - uses: actions/checkout@v4

    - name: Build
      shell: bash
      run: |
       cd programs
       mkdir build
       cd build
       cmake ..  $CMAKE_CONFIGURE_OPTIONS -DCMAKE_BUILD_TYPE=Release
       cmake --build .
